@font-face {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: normal;
    font-style: normal;
}

[class^="iconUCS-"], [class*=" iconUCS-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoonUCS' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconUCS-arrow-right:before {
    content: "\e90d";
}
.iconUCS-ex:before {
    content: "\e90e";
}
.iconUCS-arrowsleft:before {
    content: "\e900";
}
.iconUCS-arrowsright:before {
    content: "\e901";
}
.iconUCS-dropdown:before {
    content: "\e902";
}
.iconUCS-dropup:before {
    content: "\e903";
}
.iconUCS-events:before {
    content: "\e904";
}
.iconUCS-fax:before {
    content: "\e905";
}
.iconUCS-login:before {
    content: "\e906";
}
.iconUCS-logout:before {
    content: "\e907";
}
.iconUCS-news:before {
    content: "\e908";
}
.iconUCS-phone:before {
    content: "\e909";
}
.iconUCS-search:before {
    content: "\e90a";
}
.iconUCS-slidedown:before {
    content: "\e90b";
}
.iconUCS-slideup:before {
    content: "\e90c";
}
